<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load static %}
{% load i18n %}

{% load widget_tweaks %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/jquery.formset.js' %}"></script>
    <script type="text/javascript" src="{% static 'configuracion_telefonia_app/JS/content_ivr.js'%}"></script>
{% endblock %}

{% block content %}
    {% block header %}{% endblock %}
    <input class="hidden" value="{{ ivr_formset.prefix }}" id="ivr">

    <form action="" role="form" method="POST">
        <div class="row">
            {% include "base_form_fields.html" with form=form %}
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>{% trans 'Opciones de destinos' %}</h3>
                <table class="form-control" id="myFormsetTable">
                    <tbody>
                        {% if opcion_destino_formset.non_form_errors %}
                            {% for error in opcion_destino_formset.non_form_errors %}
                                <div class="alert alert-warning">{{ error|escape }}</div>
                            {% endfor %}
                        {% endif %}
                        {% for opcion_destino_form in opcion_destino_formset.forms %}
                            <tr class="opcionDestino">
                                {% if opcion_destino_form.errors %}
                                    {% for error in opcion_destino_form.errors %}
                                        <div class="alert alert-warning">{{ error|escape }}</div>
                                    {% endfor %}
                                {% endif %}
                                <td>
                                    {% if opcion_destino_form.instance.pk %}
                                        {{ opcion_destino_form.DELETE }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ opcion_destino_form.valor.label_tag }}
                                    {{ opcion_destino_form.valor.errors }}
                                    {{ opcion_destino_form.valor|add_class:"form-control" }}
                                </td>
                                <td>
                                    {{ opcion_destino_form.destino_siguiente.label_tag }}
                                    {{ opcion_destino_form.destino_siguiente.errors }}
                                    {{ opcion_destino_form.destino_siguiente|add_class:"form-control" }}
                                </td>
                                <td>{{ opcion_destino_form.id }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" id="id_registrar" class="btn btn-primary">
                    {% trans 'Guardar' %}
                </button>
            </div>
    </form>
{% endblock %}
