<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block head_js %}
<script type="text/javascript" src="{% static 'ominicontacto/JS/campanas/campana_entrante/tiempos_llamadas.js' %}"></script>
{% endblock %}
{% block content %}
 <script type="text/javascript" src="{% static 'ominicontacto/JS/pygal-tooltips.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/pygal-tooltips.js' %}"></script>
{% with estadisticas=estadisticas %}
<div class="col-md-6">

    <form role="form" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <table class="table">
           <tr>
               <td>
                   <div class="input-group date pull-right active" id="">
                       {{form.fecha}}
                        <span class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                        </span>
                    </div>
               </td>
               <td>
                   <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                       {% trans 'Filtrar por esa fecha'  %}
                </button>
               </td>
           </tr>
        </table>

    </form>
</div>
<div class="col-md-12">
    <h4>{% trans 'Período evaluado' %} {{estadisticas.estadisticas.fecha_desde|date:"d/m/Y"}} - {{estadisticas.estadisticas.fecha_hasta|date:"d/m/Y"}}</h4>
</div>
{% if user.get_is_administrador %}
<div class="col-md-9">
<table class="table table-bordered">
    <tr>
        <td colspan="2"><strong>{% trans 'Total llamadas' %}</strong></td>
    <tr>
    <tr>
        <td>{% trans 'Número de llamadas recibidas' %}</td>
        <td>{{estadisticas.estadisticas.total_llamadas.0}}</td>
    <tr>
    <tr>
        <td>{% trans 'Número de de llamadas atendidas' %}</td>
        <td>{{estadisticas.estadisticas.total_llamadas.1}}</td>
    <tr>
    <tr>
        <td>{% trans 'Número de llamadas expiradas' %}</td>
        <td>{{estadisticas.estadisticas.total_llamadas.2}}</td>
    <tr>
    <tr>
        <td>{% trans 'Número de llamadas abandonadas' %}</td>
        <td>{{estadisticas.estadisticas.total_llamadas.3}}</td>
    <tr>
    <tr>
        <td colspan="2"><strong>{% trans 'Llamadas salientes' %}</strong></td>
    <tr>
    <tr>
        <td>{% trans 'Número de llamadas salientes' %}</td>
        <td>{{estadisticas.estadisticas.total_llamadas.4}}</td>
    <tr>
    <tr>
        <td>{% trans 'Número de llamadas atendidas' %}</td>
        <td>{{estadisticas.estadisticas.total_llamadas.5}}</td>
    <tr>
    <tr>
        <td>{% trans 'Número de llamadas abandonadas' %}</td>
        <td>{{estadisticas.estadisticas.total_llamadas.6}}</td>
    <tr>

</table>
</div>
 {% endif %}
<div class="col-md-12">
    <h4>{% trans 'Distribución por campaña' %}</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{% trans 'Campaña' %}</th>
            <th>{% trans 'Recibidas' %}</th>
            <th>{% trans 'Atendidas' %}</th>
            <th>{% trans 'Expiradas' %}</th>
            <th>{% trans 'Abandonadas' %}</th>
            <th>{% trans 'Manuales' %}</th>
            <th>{% trans 'Manuales atendidas' %}</th>
            <th>{% trans 'Manuales no atendidas' %}</th>
        </tr>
    </thead>
    {% for campana in estadisticas.estadisticas.queues_llamadas %}
        <tr>
            <td>{{campana.0}}</td>
            <td>{{campana.1}}</td>
            <td>{{campana.2}}</td>
            <td>{{campana.3}}</td>
            <td>{{campana.4}}</td>
            <td>{{campana.5}}</td>
            <td>{{campana.6}}</td>
            <td>{{campana.7}}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="8" width="50%" align="center">
             <div class="graficos-avances">
                                        <figure>
                                            {{ estadisticas.barra_campana_llamadas.render|safe }}
                                        </figure>
                                    </div>
        </td>
    </tr>
    <tbody>

    </tbody>
</table>


</div>

{% endwith %}
{% endblock %}
