<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% extends "base.html" %}
{% load i18n %}

{% load static %}
{% load util_tags %}

{% block head_js %}
<script type="text/javascript" src="{% static 'reportes_app/JS/reporte_llamadas.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/pygal-tooltips.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ominicontacto/JS/pygal-tooltips.js' %}"></script>
{% endblock %}

{% block content %}
<h1>{% trans 'Llamadas' %}</h1>

<form id="exportar_reporte" action="{% url 'csv_reporte_llamadas' %}" method="POST">
    {% csrf_token %}
    <input class="hidden" name="estadisticas" type="text" value="{{ estadisticas_json }}"/>
    <input class="hidden" name="tipo_reporte" id="tipo_reporte" type="text" value=""/>
</form>

<div id="wrapper-search">
    <button id="btnCollapse" class="btn btn-block" type="button" data-toggle="collapse" data-target="#wrapperSearchForm" aria-expanded="true" aria-controls="wrapperSearchForm"><span class="icon icon-search"></span>{% trans 'Buscar' %}</button>
    <div id="wrapperSearchForm" class="show">
        <form role="form" method="post" enctype="multipart/form-data" >
          {% csrf_token %}
            <div class="form-row">
                <div class="col-md-6 date active" id="">
                    <label>{% trans 'Fecha' %}:</label>
                    {{form.fecha}}
                    {{form.fecha.errors}}
                </div>
                <div class="col-md-6">
                  {{form.finalizadas.label_tag}}
                  {{form.finalizadas}}
                </div>
            </div>
            <button type="submit" id="id_buscar_btn" class="btn btn-primary">
              {% trans 'Buscar' %}
            </button>
        </form>
    </div>
</div>

<h2>{% trans 'Período' %}: {{desde|date:"d/m/Y"}} - {{hasta|date:"d/m/Y"}}</h2>
<hr>
{% if user.get_is_administrador %}
  <div>
      <div class="jumbotron">
        <h1 class="display-2">{{estadisticas.total_llamadas_procesadas}}</h1>
        <h3>{% trans 'Llamadas procesadas' %}</h3>
      </div>

    {% with llamadas_por_tipo=estadisticas.llamadas_por_tipo %}
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-sm">
              <tr>
                <td><strong>{% trans 'Llamadas salientes por Discador' %}</strong></td>
                <td width="10%">{{llamadas_por_tipo.2.total}}</td>
              </tr>
              <tr>
                <td>{% trans 'Atendidas' %}</td>
                <td width="10%">{{ llamadas_por_tipo.2.atendidas }}</td>
              </tr>
              <tr>
                <td>{% trans 'No atendidas' %}</td>
                <td width="10%">{{ llamadas_por_tipo.2.no_atendidas }}</td>
              </tr>
              <tr>
                <td>{% trans 'Perdidas' %}</td>
                <td width="10%">{{ llamadas_por_tipo.2.perdidas }}</td>
              </tr>
            </table>
            {% if estadisticas_por_fecha.llamadas_por_tipo.2 %}
              <button class="btn btn-light" onclick="mostrarLlamadasPorFecha('Dialer');">
                {% trans 'Desglosar por fecha' %}
              </button>
            {% endif %}
            <hr class="hr-space">
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-sm">
              <tr>
                <td><strong>{% trans 'Llamadas Entrantes' %}</strong></td>
                <td width="10%">{{ llamadas_por_tipo.3.total }}</td>
              </tr>
              <tr>
                <td>{% trans 'Atendidas' %}</td>
                <td width="10%">{{ llamadas_por_tipo.3.atendidas }}</td>
              </tr>
              <tr>
                <td>{% trans 'Expiradas' %}</td>
                <td width="10%">{{ llamadas_por_tipo.3.expiradas }}</td>
              </tr>
              <tr>
                <td>{% trans 'Abandonadas' %}</td>
                <td width="10%">{{ llamadas_por_tipo.3.abandonadas }}</td>
              </tr>
              <tr>
                  <td>{% trans 'Abandonadas durante anuncio' %}</td>
                  <td width="10%">{{ llamadas_por_tipo.3.abandonadas_anuncio }}</td>
              </tr>
            </table>
            {% if estadisticas_por_fecha.llamadas_por_tipo.3 %}
              <button class="btn btn-light" onclick="mostrarLlamadasPorFecha('Entrante');">
                {% trans 'Desglosar por fecha' %}
              </button>
            {% endif %}
            <hr class="hr-space">
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-sm">
              <tr>
                <td><strong>{% trans 'Llamadas salientes Manuales' %}</strong></td>
                <td width="10%">{{ llamadas_por_tipo.1.total }}</td>
              </tr>
              <tr>
                <td>{% trans 'Conectadas' %}</td>
                <td width="10%">{{ llamadas_por_tipo.1.conectadas }}</td>
              </tr>
              <tr>
                <td>{% trans 'no conec.' %}</td>
                <td width="10%">{{ llamadas_por_tipo.1.no_conectadas }}</td>
              </tr>
            </table>
            {% if estadisticas_por_fecha.llamadas_por_tipo.1 %}
              <button class="btn btn-light" onclick="mostrarLlamadasPorFecha('Manual');">
                {% trans 'Desglosar por fecha' %}
              </button>
            {% endif %}
            <hr class="hr-space">
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-sm">
              <tr>
                <td><strong>{% trans 'Llamadas salientes Preview' %}</strong></td>
                <td width="10%">{{ llamadas_por_tipo.4.total }}</td>
              </tr>
              <tr>
                <td>{% trans 'Conectadas' %}</td>
                <td width="10%">{{ llamadas_por_tipo.4.conectadas }}</td>
              </tr>
              <tr>
                <td>{% trans 'no conec.' %}</td>
                <td width="10%">{{ llamadas_por_tipo.4.no_conectadas }}</td>
              </tr>
            </table>
            {% if estadisticas_por_fecha.llamadas_por_tipo.4 %}
              <button class="btn btn-light" onclick="mostrarLlamadasPorFecha('Preview');">
                {% trans 'Desglosar por fecha' %}
              </button>
            {% endif %}
            <hr class="hr-space">
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-sm">
              <tr>
                <td><strong>{% trans 'Llamadas Transferidas a Campañas' %}</strong></td>
                <td width="10%">{{ llamadas_por_tipo.transferencia.total }}</td>
              </tr>
              <tr>
                <td>{% trans 'Conectadas' %}</td>
                <td width="10%">{{ llamadas_por_tipo.transferencia.conectadas }}</td>
              </tr>
              <tr>
                <td>{% trans 'no conec.' %}</td>
                <td width="10%">{{ llamadas_por_tipo.transferencia.no_conectadas }}</td>
              </tr>
            </table>
            {% if estadisticas_por_fecha.llamadas_por_tipo.transferencia %}
              <button class="btn btn-light" onclick="mostrarLlamadasPorFecha('Transferencia');">
                {% trans 'Desglosar por fecha' %}
              </button>
            {% endif %}
            <hr class="hr-space">
        </div>
    </div>
    {% endwith %}
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-outline-primary" onclick="exportarReporte('llamadas_por_tipo');">
              {% trans 'Exportar totales llamadas(CSV)' %}
            </button>
        </div>
        <div class="col-md-6">
            <form action="{% url 'zip_reportes_llamadas' %}" method="POST">
                {% csrf_token %}
                <input class="hidden" name="estadisticas" type="text" value="{{ estadisticas_json }}"/>
                <button class="btn btn-outline-primary">{% trans 'Exportar a CSV todos los reportes' %}</button>
                <br>
            </form>
        </div>
    </div>
</div>
{% endif %}

  <hr>
  <div>
      <h2>{% trans 'Totales por tipos de llamadas' %}</h2>
      <br>
      <div class="form-row">
          <div class="col-lg-6">
            <h3>{% trans 'Totales de llamadas por tipo de llamada y forma de finalización' %}</h3>
            <div class="graficos-avances">
              <figure>
                {{ graficos.barras_llamadas_por_tipo.render|safe }}
              </figure>
            </div>
          </div>
          <div class="col-lg-6">
            <h3>{% trans 'Porcentaje de llamadas por tipo de llamada' %}</h3>
            <div class="graficos-avances">
              <figure>
                {{ graficos.torta_porcentajes_por_tipo.render|safe }}
              </figure>
            </div>
          </div>
      </div>
  </div>

<hr>
<div>
  <h2>{% trans 'Cantidad de llamadas por campaña' %}</h2>
  <br>
    <div class="wrapper-table table-tall table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>{% trans 'Campaña' %}</th>
            <th>{% trans 'Total' %}</th>
            <th>{% trans 'Manuales' %}</th>
            <th>{% trans 'Tipo' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for id, estadisticas_campana in estadisticas.llamadas_por_campana.items %}
            <tr>
              <td>{{ estadisticas_campana.nombre }}</td>
              <td>{{ estadisticas_campana.total }}</td>
              <td>{{ estadisticas_campana.manuales }}</td>
              <td>{{ estadisticas_campana.tipo }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
        <h3>{% trans 'Cantidad de llamadas de las campañas' %}</h3>
        <div class="graficos-avances">
            <figure>
                {{ graficos.barra_llamada_por_campana.render|safe }}
            </figure>
        </div>
    </div>
</div>
    <button class="btn btn-outline-primary" onclick="exportarReporte('llamadas_por_campana');">
      {% trans 'Exportar llamadas por campaña (CSV)' %}
    </button>

<hr>
<div>
  <div id="seccion-llamadas-dialer">
    <h2>{% trans 'Distribución de tipos de llamadas en campañas salientes discador' %}</h2>
    <br>
    <div class="wrapper-table table-responsive">
        <button class="btn-collapse-table btn btn-light btn-sm" type="button" data-toggle="collapse" data-target=".multi-collapse-dialer" aria-expanded="false">{% trans 'Información completa' %}</button>
        <hr class="hr-space">
      <table class="table">
        <thead>
          <tr>
            <th>{% trans 'Campaña' %}</th>
            <th>{% trans 'Efectuadas' %}</th>
            <th>{% trans 'Conexión' %}</th>
            <th>{% trans 'Manuales' %}</th>
          </tr>
        </thead>
        {% for id, campana in estadisticas.tipos_de_llamada_por_campana.2.items %}
          {% with tipos_por_fecha=estadisticas_por_fecha.tipos_de_llamada_por_campana.2|get_item:id %}
            <tr>
              <td>
                {% if tipos_por_fecha %}
                  <a href="javascript:;" onclick="toggleTiposDeLlamadaPorFecha('Dialer', '{{id}}');" title="{% trans 'Ver llamadas por fecha' %}">
                    {{ campana.nombre }}
                  </a>
                {% else %}
                  {{ campana.nombre }}
                {% endif %}
              </td>
              <td>
                  {{ campana.efectuadas }}
                  <div class="collapse multi-collapse-dialer">
                      <hr>
                      {{ campana.atendidas }}<span class="label">{% trans 'atendidas' %}</span>,
                      {{ campana.conectadas }}<span class="label">{% trans 'conectadas' %}</span>,
                      {{ campana.expiradas }}<span class="label">{% trans 'expiradas' %}</span>,
                      {{ campana.abandonadas }}<span class="label">{% trans 'abandonadas' %}</span>
                  </div>
              </td>
              <td>
                  {{ campana.t_espera_conexion|format_seconds }}
                  <div class="collapse multi-collapse-dialer">
                      <hr>
                      {{ campana.t_espera_atencion|format_seconds }}<span class="label">{% trans 'atención' %}</span>,
                      {{ campana.t_abandono|format_seconds }}<span class="label">{% trans 'abandono' %}</span>
                  </div>
              </td>
              <td>
                  {{ campana.efectuadas_manuales }}
                  <div class="collapse multi-collapse-dialer">
                      <hr>
                      {{ campana.conectadas_manuales }}<span class="label">{% trans 'conectadas' %}</span>,
                      </span>{{ campana.no_conectadas_manuales }}<span class="label">{% trans 'no conec.' %} </span>,
                      {{ campana.t_espera_conexion_manuales|format_seconds }}<span class="label">{% trans 'espera' %}</span>
                  </div>
              </td>
            </tr>
            {% if tipos_por_fecha %}
              {% for fecha, llamadas in tipos_por_fecha.items %}
                <tr fechas="FechasDialer_{{ id }}" style="display:none; background-color:aliceblue;">
                  <td>{{ fecha }}</td>
                  <td>
                      {{ llamadas.efectuadas }}
                      <div class="collapse multi-collapse-dialer">
                          <hr>
                          {{ llamadas.atendidas }}<span class="label">{% trans 'atendidas' %}</span>,
                          {{ llamadas.conectadas }}<span class="label">{% trans 'conectadas' %}</span>,
                          {{ llamadas.expiradas }}<span class="label">{% trans 'expiradas' %}</span>,
                          {{ llamadas.abandonadas }}<span class="label">{% trans 'abandonadas' %}</span>
                    </div>
                  </td>
                  <td>
                      {{ llamadas.t_espera_conexion|format_seconds }}
                      <div class="collapse multi-collapse-dialer">
                          <hr>
                          {{ llamadas.t_espera_atencion|format_seconds }}<span class="label">{% trans 'atención' %}</span>,
                          {{ llamadas.t_abandono|format_seconds }}<span class="label">{% trans 'abandono' %}</span>
                      </div>
                  </td>
                  <td>
                      {{ llamadas.efectuadas_manuales }}
                      <div class="collapse multi-collapse-dialer">
                          <hr>
                          {{ llamadas.conectadas_manuales }}<span class="label">{% trans 'conectadas' %}</span>,
                          {{ llamadas.no_conectadas_manuales }}<span class="label">{% trans 'no conectadas' %}</span>,
                          {{ llamadas.t_espera_conexion_manuales|format_seconds }}<span class="label">{% trans 'espera' %}</span>
                      </div>
                  </td>
                </tr>
              {% endfor %}
            {% endif %}

          {% endwith %}
        {% endfor %}
      </table>
    </div>
      <div class="col-lg-6">
        <h3>{% trans 'Tipos de llamadas por campaña de discador' %}</h3>
        <div class="graficos-avances">
            <figure>
                {{ graficos.barra_campana_llamadas_dialer.render|safe }}
            </figure>
            <button class="btn btn-outline-primary" onclick="exportarReporte('tipos_de_llamada_dialer');">
                {% trans 'Exportar tipo de llamadas de Campañas Dialer (CSV)' %}
            </button>
        </div>
      </div>
  </div>
</div>

<hr>
<div id="seccion-llamadas-entrantes">
  <h2>{% trans 'Distribucion de tipos de llamadas en campañas entrantes' %}</h2>
  <br>
  <div class="wrapper-table table-responsive">
      <button class="btn-collapse-table btn btn-light btn-sm" type="button" data-toggle="collapse" data-target=".multi-collapse-incoming" aria-expanded="false">{% trans 'Información completa' %}</button>
    <hr class="hr-space">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Nombre' %}</th>
          <th>{% trans 'Recibidas' %}</th>
          <th>{% trans 'Espera' %}</th>
          <th>{% trans 'Manuales' %}</th>
        </tr>
      </thead>
      {% for id, campana in estadisticas.tipos_de_llamada_por_campana.3.items %}
        {% with tipos_por_fecha=estadisticas_por_fecha.tipos_de_llamada_por_campana.3|get_item:id %}
          <tr>
            <td>
              {% if tipos_por_fecha %}
                <a href="javascript:;" onclick="toggleTiposDeLlamadaPorFecha('Entrante', '{{id}}');" title="{% trans 'Ver llamadas por fecha' %}">
                  {{ campana.nombre }}
                </a>
              {% else %}
                {{ campana.nombre }}
              {% endif %}
            </td>
            <td>
                {{ campana.recibidas }}
                <div class="collapse multi-collapse-incoming">
                    <hr>
                    {{ campana.atendidas }}<span class="label">{% trans 'atendidas' %}</span>,
                    {{ campana.expiradas }}<span class="label">{% trans 'expiradas' %}</span>,
                    {{ campana.abandonadas }}<span class="label">{% trans 'abandonadas' %}</span>
                    {{ campana.abandonadas_anuncio }}<span class="label">{% trans 'abandonadas en anuncio' %}</span>
                </div>
            </td>
            <td>
                {{ campana.t_espera_conexion|format_seconds }}
                <div class="collapse multi-collapse-incoming">
                    <hr>
                    {{ campana.t_abandono|format_seconds }}<span class="label">{% trans 'abandono' %}</span>
                </div>
            </td>
            <td>
                {{ campana.efectuadas_manuales }}
                <div class="collapse multi-collapse-incoming">
                    <hr>
                    {{ campana.conectadas_manuales }}<span class="label">{% trans 'conectadas' %}</span>,
                    {{ campana.no_conectadas_manuales }}<span class="label">{% trans 'no conec.' %}</span>,
                    {{ campana.t_espera_conexion_manuales|format_seconds }}<span class="label">{% trans 'espera' %}</span>
                </div>
            </td>
          </tr>
          {% if tipos_por_fecha %}
            {% for fecha, llamadas in tipos_por_fecha.items %}
              <tr fechas="FechasEntrante_{{ id }}" style="display:none; background-color:aliceblue;">
                <td>{{ fecha }}</td>
                <td>
                    {{ llamadas.recibidas }}
                    <div class="collapse multi-collapse-incoming">
                        <hr>
                        {{ llamadas.atendidas }}<span class="label">{% trans 'atendidas' %}</span>,
                        {{ llamadas.expiradas }}<span class="label">{% trans 'expiradas' %}</span>,
                        {{ llamadas.abandonadas }}<span class="label">{% trans 'abandonadas' %}</span>
                        {{ llamadas.abandonadas_anuncio }}<span class="label">{% trans 'abandonadas en anuncio' %}</span>
                    </div>
                </td>
                <td>
                    {{ llamadas.t_espera_conexion|format_seconds }}
                    <div class="collapse multi-collapse-incoming">
                        <hr>
                        {{ llamadas.t_abandono|format_seconds }}<span class="label">{% trans 'abandono' %}</span>
                    </div>
                </td>
                <td>
                    {{ llamadas.efectuadas_manuales }}
                    <div class="collapse multi-collapse-incoming">
                        <hr>
                        {{ llamadas.conectadas_manuales }}<span class="label">{% trans 'conectadas' %}</span>,
                        {{ llamadas.no_conectadas_manuales }}<span class="label">{% trans 'no conec.' %}</span>,
                        {{ llamadas.t_espera_conexion_manuales|format_seconds }}<span class="label">{% trans 'espera' %}</span>
                    </div>
                </td>
              </tr>
            {% endfor %}
          {% endif %}

        {% endwith %}
      {% endfor %}
    </table>
  </div>
    <div class="col-lg-6">
        <h3>{% trans 'Tipos de llamadas por campaña entrantes' %}</h3>
        <div class="graficos-avances">
            <figure>
                {{ graficos.barra_campana_llamadas_entrantes.render|safe }}
            </figure>
            <button class="btn btn-outline-primary" onclick="exportarReporte('tipos_de_llamada_entrante');">
                {% trans 'Exportar tipo de llamadas de Campañas Entrantes (CSV)' %}
            </button>
        </div>
    </div>
</div>

<hr>
<div id="seccion-llamadas-manuales">
  <h2>{% trans 'Distribucion de tipos de llamadas en campañas manuales' %}</h2>
  <br>
  <div class="wrapper-table table-responsive">
      <button class="btn-collapse-table btn btn-light btn-sm" type="button" data-toggle="collapse" data-target=".multi-collapse-manual" aria-expanded="false">{% trans 'Información completa' %}</button>
      <hr class="hr-space">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Nombre' %}</th>
          <th>{% trans 'Efectuadas' %}</th>
          <th>{% trans 'Conexión' %}</th>
        </tr>
      </thead>
      {% for id, campana in estadisticas.tipos_de_llamada_por_campana.1.items %}
        {% with tipos_por_fecha=estadisticas_por_fecha.tipos_de_llamada_por_campana.1|get_item:id %}
          <tr>
            <td>
              {% if tipos_por_fecha %}
                <a href="javascript:;" onclick="toggleTiposDeLlamadaPorFecha('Manual', '{{id}}');" title="{% trans 'Ver llamadas por fecha' %}">
                  {{ campana.nombre }}
                </a>
              {% else %}
                {{ campana.nombre }}
              {% endif %}
            </td>
            <td>
                {{ campana.efectuadas }}
                <div class="collapse multi-collapse-manual">
                    <hr>
                    {{ campana.conectadas }}<span class="label">{% trans 'conectadas' %}</span>,
                    {{ campana.no_conectadas }}<span class="label">{% trans 'no conec.' %}</span>
                </div>
            </td>
            <td>{{ campana.t_espera_conexion|format_seconds }}</td>
          </tr>
          {% if tipos_por_fecha %}
            {% for fecha, llamadas in tipos_por_fecha.items %}
              <tr fechas="FechasManual_{{ id }}" style="display:none; background-color:aliceblue;">
                <td>{{ fecha }}</td>
                <td>
                    {{ llamadas.efectuadas }}
                    <div class="collapse multi-collapse-manual">
                        <hr>
                        {{ llamadas.conectadas }}<span class="label">{% trans 'conectadas' %}</span>,
                        {{ llamadas.no_conectadas }}<span class="label">{% trans 'no conec.' %}</span>
                    </div>
                </td>
                <td>{{ llamadas.t_espera_conexion|format_seconds }}</td>
              </tr>
            {% endfor %}
          {% endif %}

        {% endwith %}
      {% endfor %}
    </table>
  </div>
    <div class="col-lg-6">
        <h3>{% trans 'Tipos de llamadas por campaña manuales' %}</h3>
        <div class="graficos-avances">
            <figure>
                {{ graficos.barra_campana_llamadas_manuales.render|safe }}
            </figure>
             <button class="btn btn-outline-primary" onclick="exportarReporte('tipos_de_llamada_manual');">
                {% trans 'Exportar tipo de llamadas de Campañas Manuales (CSV)' %}
            </button>
        </div>
    </div>
</div>

<hr>
<div id="seccion-llamadas-preview">
  <h2>{% trans 'Distribucion de tipos de llamadas en campañas Preview' %}</h2>
  <br>
  <div class="wrapper-table table-responsive">
      <button class="btn-collapse-table btn btn-light btn-sm" type="button" data-toggle="collapse" data-target=".multi-collapse-preview" aria-expanded="false">{% trans 'Información completa' %}</button>
      <hr class="hr-space">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'Nombre' %}</th>
          <th>{% trans 'Efectuadas' %}</th>
          <th>{% trans 'Conexión' %}</th>
          <th>{% trans 'Manuales' %}</th>
          <th>{% trans 'Conexión' %}</th>
        </tr>
      </thead>
      {% for id, campana in estadisticas.tipos_de_llamada_por_campana.4.items %}
      {% with tipos_por_fecha=estadisticas_por_fecha.tipos_de_llamada_por_campana.4|get_item:id %}
      <tr>
        <td>
          {% if tipos_por_fecha %}
            <a href="javascript:;" onclick="toggleTiposDeLlamadaPorFecha('Preview', '{{id}}');" title="{% trans 'Ver llamadas por fecha' %}">
              {{ campana.nombre }}
            </a>
          {% else %}
            {{ campana.nombre }}
          {% endif %}
        </td>
        <td>
            {{ campana.efectuadas }}
            <div class="collapse multi-collapse-preview">
                <hr>
                {{ campana.conectadas }}<span class="label">{% trans 'conectadas' %}</span>,
                {{ campana.no_conectadas }}<span class="label">{% trans 'no conec.' %}</span>
            </div>
        </td>
        <td>{{ campana.t_espera_conexion|format_seconds }}</td>
        <td>
            {{ campana.efectuadas_manuales }}
            <div class="collapse multi-collapse-preview">
                <hr>
                {{ campana.conectadas_manuales }}<span class="label">{% trans 'conectadas' %}</span>,
                {{ campana.no_conectadas_manuales }}<span class="label">{% trans 'no conec.' %}</span>
            </div>
        </td>
        <td>{{ campana.t_espera_conexion_manuales|format_seconds }}</td>
      </tr>
      {% if tipos_por_fecha %}
        {% for fecha, llamadas in tipos_por_fecha.items %}
          <tr fechas="FechasPreview_{{ id }}" style="display:none; background-color:aliceblue;">
            <td>{{ fecha }}</td>
            <td>
                {{ llamadas.efectuadas }}
                <div class="collapse multi-collapse-preview">
                    <hr>
                    {{ llamadas.conectadas }}<span class="label">{% trans 'conectadas' %}</span>,
                    {{ llamadas.no_conectadas }}<span class="label">{% trans 'no conec.' %}</span>
                </div>
            </td>
            <td>{{ llamadas.t_espera_conexion|format_seconds }}</td>
            <td>
                {{ llamadas.efectuadas_manuales }}
                <div class="collapse multi-collapse-preview">
                    <hr>
                    {{ llamadas.conectadas_manuales }}<span class="label">{% trans 'conectadas' %}</span>,
                    {{ llamadas.no_conectadas_manuales }}<span class="label">{% trans 'no conec.' %}</span>
                </div>
            </td>
            <td>{{ llamadas.t_espera_conexion_manuales|format_seconds }}</td>
          </tr>
        {% endfor %}
      {% endif %}

      {% endwith %}
      {% endfor %}
    </table>
  </div>
    <div class="col-lg-6">
        <h3>{% trans 'Tipos de llamadas por campaña preview' %}</h3>
        <div class="graficos-avances">
            <figure>
                {{ graficos.barra_campana_llamadas_preview.render|safe }}
            </figure>
             <button class="btn btn-outline-primary" onclick="exportarReporte('tipos_de_llamada_preview');">
                {% trans 'Exportar tipo de llamadas de Campañas Preview (CSV)' %}
             </button>
        </div>
    </div>
</div>

<!-- MODALES de Llamadas por tipo desglosadas en fechas -->
{% with llamadas_por_tipo=estadisticas_por_fecha.llamadas_por_tipo %}
  <div class="modal" id="modalLlamadasDialer" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">{% trans 'Tipos de llamadas salientes por Discador' %}</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table">
                  <tr>
                    <td>{% trans 'Fecha' %}</td>
                    <td>{% trans 'Atendidas' %}</td>
                    <td>{% trans 'No atendidas' %}</td>
                    <td>{% trans 'Perdidas' %}</td>
                    <td><strong>{% trans 'Total' %}</strong></td>
                  </tr>
                  {% for fecha, llamadas in llamadas_por_tipo.2.items %}
                    <tr>
                      <td>{{ fecha }}</td>
                      <td>{{ llamadas.atendidas }}</td>
                      <td>{{ llamadas.no_atendidas }}</td>
                      <td>{{ llamadas.perdidas }}</td>
                      <td>{{llamadas.total}}</td>
                    </tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal" id="modalLlamadasManual" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">{% trans 'Tipos de llamadas salientes Manuales' %}</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table">
                  <tr>
                    <td>{% trans 'Fecha' %}</td>
                    <td>{% trans 'Conectadas' %}</td>
                    <td>{% trans 'no conec.' %}</td>
                    <td><strong>{% trans 'Total' %}</strong></td>
                  </tr>
                  {% for fecha, llamadas in llamadas_por_tipo.1.items %}
                    <tr>
                      <td>{{ fecha }}</td>
                      <td>{{ llamadas.conectadas }}</td>
                      <td>{{ llamadas.no_conectadas }}</td>
                      <td>{{ llamadas.total }}</td>
                    </tr>
                  {% endfor %}
                  <tr>
                  </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal" id="modalLlamadasEntrante" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">{% trans 'Tipos de llamadas Entrantes' %}</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table">
                  <tr>
                    <td>{% trans 'Fecha' %}</td>
                    <td>{% trans 'Atendidas' %}</td>
                    <td>{% trans 'Expiradas' %}</td>
                    <td>{% trans 'Abandonadas' %}</td>
                    <td>{% trans 'Abandonadas durante anuncio' %}</td>
                    <td><strong>{% trans 'Total' %}</strong></td>
                  </tr>
                  {% for fecha, llamadas in llamadas_por_tipo.3.items %}
                    <tr>
                      <td>{{ fecha }}</td>
                      <td>{{ llamadas.atendidas }}</td>
                      <td>{{ llamadas.expiradas }}</td>
                      <td>{{ llamadas.abandonadas }}</td>
                      <td>{{ llamadas.abandonadas_anuncio }}</td>
                      <td>{{ llamadas.total }}</td>
                    </tr>
                  {% endfor %}
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal" id="modalLlamadasPreview" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">{% trans 'Tipos de llamadas salientes Preview' %}</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
              <table class="table">
                <tr>
                  <td>{% trans 'Fecha' %}</td>
                  <td>{% trans 'Conectadas' %}</td>
                  <td>{% trans 'no conec.' %}</td>
                  <td><strong>{% trans 'Total' %}</strong></td>
                </tr>
                {% for fecha, llamadas in llamadas_por_tipo.4.items %}
                  <tr>
                    <td>{{ fecha }}</td>
                    <td>{{ llamadas.conectadas }}</td>
                    <td>{{ llamadas.no_conectadas }}</td>
                    <td>{{ llamadas.total }}</td>
                  </tr>
                {% endfor %}
              </table>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div class="modal" id="modalLlamadasTransferencia" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title">{% trans 'Tipos de llamadas de Transferencia' %}</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
              <table class="table">
                <tr>
                  <td>{% trans 'Fecha' %}</td>
                  <td>{% trans 'Conectadas' %}</td>
                  <td>{% trans 'no conec.' %}</td>
                  <td><strong>{% trans 'Total' %}</strong></td>
                </tr>
                {% for fecha, llamadas in llamadas_por_tipo.transferencia.items %}
                  <tr>
                    <td>{{ fecha }}</td>
                    <td>{{ llamadas.conectadas }}</td>
                    <td>{{ llamadas.no_conectadas }}</td>
                    <td>{{ llamadas.total }}</td>
                  </tr>
                {% endfor %}
              </table>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cerrar' %}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

{% endwith %}

{% endblock %}
