<!--
Copyright (C) 2018 Freetech Solutions

This file is part of OMniLeads

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->
{% load i18n  %}
{% for base_datos_contacto in bases_datos_contacto %}
                            <tr>
                                <td>
                                    {{ base_datos_contacto.nombre }}
                                </td>
                                <td>
                                    {{ base_datos_contacto.fecha_alta|date:"d/m/Y" }}
                                </td>
                                <td>
                                    {{ base_datos_contacto.get_cantidad_contactos }}
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% trans 'Opciones' %}
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                                            <a class="dropdown-item" href="{% url 'agregar_contacto' base_datos_contacto.pk %}">
                                                <span class="icon icon-plus"></span>{% trans 'Agregar contacto' %}
                                            </a>
                                            <a class="dropdown-item" href="{% url 'contacto_list_bd_contacto' base_datos_contacto.pk %}">
                                                <span class="icon icon-list"></span>{% trans 'Lista de contactos' %}
                                            </a>
                                            <a class="dropdown-item" href="{% url 'update_base_datos_contacto' base_datos_contacto.pk %}">
                                                <span class="icon icon-plus"></span>{% trans 'Agregar contactos' %}
                                            </a>
                                            {% if base_datos_contacto.oculto %}
                                            <a class="dropdown-item" href="{% url 'desoculta_base_datos' base_datos_contacto.pk %}">
                                                <span class="icon icon-eye"></span>{% trans 'Hacer visible' %}
                                            </a>
                                            {% else %}
                                            <a class="dropdown-item" href="{% url 'oculta_base_dato' base_datos_contacto.pk %}">
                                                <span class="icon icon-eye-slash"></span>{% trans 'Ocultar' %}
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p>{% trans 'No se encontraron Bases de Datos de Contactos creadas.' %}</p>
                                </td>
                            </tr>
                        {% endfor %}
